
commit    @user_name date(day/month)
make our branch (name it by your task)
after finish your task make a pull request and add all the team 
don't merge with the master directly please please
don't merge with the master directly please please

